<a href="https://colab.research.google.com/github/alekhya5678/alekhya5678/blob/main/Data_Processing_With_Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np

In [4]:
np.array([1,2,3])+np.array([2,3,4]) #in lists when two lists are added they only appended into new list
#in numpy the elements getting added together then append

array([3, 5, 7])

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd #pandas have two array series is 1d array and dataframes are 2d arrays, here rows have diff element but columns have same elements
import seaborn as sns

In [7]:
some_data = pd.Series(np.arange(1,6))

In [ ]:
some_data

In [9]:
some_data = pd.Series(np.random.rand(10))

In [ ]:
some_data

In [12]:
stockmarket_data = pd.Series (np.random.randn(1000))

In [14]:
stock_prices=pd.DataFrame(np.random.rand(10,3))

In [15]:
stock_prices

          0         1         2
0  0.454610  0.617643  0.898471
1  0.623560  0.261791  0.144977
2  0.679150  0.088768  0.483880
3  0.334485  0.752148  0.022697
4  0.171973  0.760736  0.774316
5  0.186287  0.525979  0.008864
6  0.880224  0.688982  0.322281
7  0.906207  0.120250  0.728424
8  0.128171  0.353312  0.439900
9  0.011612  0.247908  0.723734

In [16]:
stock_prices.columns=['India','Pakistan','Bhutan']

In [17]:
stock_prices

      India  Pakistan    Bhutan
0  0.454610  0.617643  0.898471
1  0.623560  0.261791  0.144977
2  0.679150  0.088768  0.483880
3  0.334485  0.752148  0.022697
4  0.171973  0.760736  0.774316
5  0.186287  0.525979  0.008864
6  0.880224  0.688982  0.322281
7  0.906207  0.120250  0.728424
8  0.128171  0.353312  0.439900
9  0.011612  0.247908  0.723734

In [18]:
stock_prices.index = pd.date_range('1/1/2021',periods=10)

In [19]:
stock_prices

               India  Pakistan    Bhutan
2021-01-01  0.454610  0.617643  0.898471
2021-01-02  0.623560  0.261791  0.144977
2021-01-03  0.679150  0.088768  0.483880
2021-01-04  0.334485  0.752148  0.022697
2021-01-05  0.171973  0.760736  0.774316
2021-01-06  0.186287  0.525979  0.008864
2021-01-07  0.880224  0.688982  0.322281
2021-01-08  0.906207  0.120250  0.728424
2021-01-09  0.128171  0.353312  0.439900
2021-01-10  0.011612  0.247908  0.723734

In [ ]:
stock_prices_cumulative = stock_prices.cumsum()

In [ ]:
stock_prices